/*
[type~="radio"] {
    border: red solid 2px;
} 
*/

#input-group-container > .input-group-text {
    padding-top: 0px;
    padding-bottom: 0px;
}
/* RESPONSIBLE FOR SPACE IN BETWEEN INPUT(radio/switch) AND LABEL */
.form-check .form-check-input {
    float: none !important;
}

#add-tab-button{
    float: right;
    position:relative;
    bottom: -8px;
    right: 0px;
}

#remove-tab-button {
    float: right;
    position:relative;
    bottom: -8px;
    right: 0px;
}

#filter-bar {
    float: right;
    position: relative;
    bottom: -8px;
    right: 0px;
}

#singleSelect {
    border: none;
}

/* SELECTS THE HEIGHT OF THE DATA TABLE AND MAKES IT RESPONSIVE*/
.react-tabs__tab-panel--selected > div:nth-child(3) {
    max-height: 64vh !important;
}
/* SELECTS PAGINATION BAR*/
.rdt_Pagination {
    min-height: 41px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* SELECTS THE COLOR OF THE TABLE HEADER WITHIN POP MODAL */
#modal-modal-description > div > div > div > .rdt_TableHead > div > div:nth-child(n) {
    background-color: black;
    color: white;
}