/*
[type~="radio"] {
    border: red solid 2px;
} 
*/

/* RESPONSIBLE FOR SPACE IN BETWEEN INPUT(radio/switch) AND LABEL */
.form-check .form-check-input {
    float: none !important;
}

#add-tab-button{
    float: right;
    position:relative;
    bottom: -8px;
    right: 0px;
}