/*
[type~="radio"] {
    border: red solid 2px;
} 
*/

/* RESPONSIBLE FOR SPACE IN BETWEEN INPUT(radio/switch) AND LABEL */
.form-check .form-check-input {
    float: none !important;
}

#add-tab-button{
    float: right;
    position:relative;
    bottom: -8px;
    right: 0px;
}

#remove-tab-button {
    float: right;
    position:relative;
    bottom: -8px;
    right: 0px;
}

#filter-bar {
    float: right;
    position: relative;
    bottom: -8px;
    right: 0px;
}

#singleSelect {
    border: none;
}

/* SELECTS THE HEIGHT OF THE DATA TABLE AND MAKES IT RESPONSIVE*/
.gLTUqv {
    /* border: red 2px solid; */
    max-height: 62vh !important;
}
/* SELECTS PAGINATION BAR*/
.fPIktX {
    /* border: blue solid 2px; */
    min-height: 43px !important;
}