.desktop-top-bar {
  /* border: red solid 2px; */
  text-align: right;
  display: block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background-color: #1B3668;
}

a {
  padding-right: 10px;
}

/* unvisited link */
a:link {
  color: #fefefe;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: lightblue;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #00b0f0;
  text-decoration: none;
}

/* selected link */
a:active {
  color: grey;
  text-decoration: none;
}


.footer {
  background-color: #1B3668;
  color: white;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
p a:link {
  color: lightblue;
  text-decoration: none;
}

/* visited link */
p a:visited {
  color: lightblue;
  text-decoration: none;
}

/* mouse over link */
p a:hover {
  color: #00b0f0;
  text-decoration: none;
}

/* selected link */
p a:active {
  color: grey;
  text-decoration: none;
}

.main {
  margin-bottom: 150px;
}

/* BEGINNING OF SUBHEADER GROUP SELECTIONS
SELECTS COLUMNS IN RISKHOLDINGS TALBE HEAD ROW: 

  PRICE, WEIGHT, ORIG FACE, CURR FACE, MV, Factor
AND APPLIES BLACK BORDERS AROUND GROUP OF COLUMNS
REPRESENTS 'POSITION' SUBHEADER
*/
.rdt_TableHead > div > div:nth-child(8) {
  border-left: #1c298c 1px solid;
  border-bottom: #1c298c 1px solid;
  border-top: #1c298c 1px solid;
}
.rdt_TableHead > div > div:nth-child(9),
.rdt_TableHead > div > div:nth-child(10),
.rdt_TableHead > div > div:nth-child(11),
.rdt_TableHead > div > div:nth-child(12) {
  border-top: #1c298c 1px solid;
  border-bottom: #1c298c 1px solid;
}
.rdt_TableHead > div > div:nth-child(13) {
  border-right: #1c298c 1px solid;
  border-bottom: #1c298c 1px solid;
  border-top: #1c298c 1px solid;
}

.rdt_TableHead > div > div:nth-child(n+8):nth-child(-n+13) {
  color: #fefefe;
  background-color: #1c298c;
}
/*
SELECTS COLUMNS:
  DUR, DUR CONT, YTW, YTW CONT, DXS, CNVX, WAL, OAS
REPRESENTS 'RISK' SUBHEADER
*/
.rdt_TableHead > div > div:nth-child(14) {
  border-left: #4d1c8c 1px solid;
  border-bottom: #4d1c8c 1px solid;
  border-top: #4d1c8c 1px solid;
}
.rdt_TableHead > div > div:nth-child(15),
.rdt_TableHead > div > div:nth-child(16),
.rdt_TableHead > div > div:nth-child(17),
.rdt_TableHead > div > div:nth-child(18),
.rdt_TableHead > div > div:nth-child(19),
.rdt_TableHead > div > div:nth-child(20) {
  border-top: #4d1c8c 1px solid;
  border-bottom: #4d1c8c 1px solid;
}
.rdt_TableHead > div > div:nth-child(21) {
  border-right: #4d1c8c 1px solid;
  border-bottom: #4d1c8c 1px solid;
  border-top: #4d1c8c 1px solid;
}

.rdt_TableHead > div > div:nth-child(n+14):nth-child(-n+21) {
  color: #fefefe;
  background-color: #4d1c8c;
}
/*
SELECTS COLUMNS:
  AGGREGATE RATING, CARLTON (MOODY, SP, FITCH) RATING
REPRESENTS 'RATING' SUBHEADER
*/
.rdt_TableHead > div > div:nth-child(22) {
  border-left: #8c1c54 1px solid;
  border-bottom: #8c1c54 1px solid;
  border-top: #8c1c54 1px solid;
}
.rdt_TableHead > div > div:nth-child(23),
.rdt_TableHead > div > div:nth-child(24) {
  border-top: #8c1c54 1px solid;
  border-bottom: #8c1c54 1px solid;
}
.rdt_TableHead > div > div:nth-child(25) {
  border-right: #8c1c54 1px solid;
  border-bottom: #8c1c54 1px solid;
  border-top: #8c1c54 1px solid;
}

.rdt_TableHead > div > div:nth-child(n+22):nth-child(-n+25) {
  background-color: #8c1c54;
  color: #fefefe;
}
/*
SELECTS COLUMNS:
  KRD: 6M, 1YR, 2YR, 3YR, 5YR, 7YR, 10YR, 20YR, 30YR
REPRESENTS 'KRD' SUBHEADER
*/
.rdt_TableHead > div > div:nth-child(26) {
  border-left: #1c8c63 1px solid;
  border-bottom: #1c8c63 1px solid;
  border-top: #1c8c63 1px solid;
}
.rdt_TableHead > div > div:nth-child(27),
.rdt_TableHead > div > div:nth-child(28),
.rdt_TableHead > div > div:nth-child(29),
.rdt_TableHead > div > div:nth-child(30),
.rdt_TableHead > div > div:nth-child(31),
.rdt_TableHead > div > div:nth-child(32),
.rdt_TableHead > div > div:nth-child(33) {
  border-top: #1c8c63 1px solid;
  border-bottom: #1c8c63 1px solid;
}
.rdt_TableHead > div > div:nth-child(34) {
  border-right: #1c8c63 1px solid;
  border-bottom: #1c8c63 1px solid;
  border-top: #1c8c63 1px solid;
}

.rdt_TableHead > div > div:nth-child(n+26):nth-child(-n+34) {
  background-color: #1c8c63;
  color: #fefefe;
}
/*
SELECTS COLUMNS:
  BOOK GAIN LOSS, DOD GAIN LOSS
REPRESENTS 'PERFORMANCE' SUBHEADER
*/
.rdt_TableHead > div > div:nth-child(36) {
  border-left: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
.rdt_TableHead > div > div:nth-child(37) {
  border-bottom: black 1px solid;
  border-right: black 1px solid;
  border-top: black 1px solid;
}

.rdt_TableHead > div > div:nth-child(n+35):nth-child(-n+37) {
  background-color: black;
  color: #fefefe;
}
/*
RESPONSIBLE FOR DISPLAYING 'LEGEND' DROPDOWN CONTENTS 
HORIZONTALLY AS OPPOSED TO VERTICALLY. 
*/
#horizontal-dropdown-list.dropdown-menu.show {
  display: contents;
} /*RESPONSIBLE FOR TOGGLING DIRECTION OF DROPDOWN ICON*/
#horizontal-dropdown-btn.dropdown-toggle.show::before {
  border-top: .3em solid transparent;
  border-right: 0;
  border-bottom: .3em solid transparent;
  border-left: .3em solid;
}
#legend-position-button {
  background-color: #1c298c;
  color: #fefefe;
}
#legend-risk-button {
  background-color: #4d1c8c;
  color: #fefefe;
}
#legend-rating-button {
  background-color: #8c1c54;
  color: #fefefe;
}
#legend-krd-button {
  background-color: #1c8c63;
  color: #fefefe;
}
#legend-performance-button {
  background-color: black;
  color: #fefefe;
}

#logo {
  height: 30px
}